<table class="table">
  <thead>
    <th>Name</th>
    <th>Date</th>
    <th>Description</th>
    <th>Time</th>
    <th><button class="logTimeButton" (click)="openLogTimePage()">Log Time</button></th>
  </thead>
  <tbody>
    <tr *ngFor="let timeSpent of timeSpentList">
      <td>{{ timeSpent.user.name }}</td>
      <td>{{ timeSpent.logDate }}</td>
      <td>{{ timeSpent.description }}</td>
      <td>{{ timeSpent.logTime }}</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

@if(isLogTimeModalOpen()){
  <app-log-time-formular [task]="task()" (close)="closeLogTimePage()">
  </app-log-time-formular>
}