
.projects {
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    height: 50%;
    display: flex;
    gap: 5%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

h3{
    margin-top: 3%;
    margin-left: 5%;
    color: white;
}
.segment-line {
    border: none;        
    height: 4px;          
    background-color: white; 
    margin-left: 5%;
    margin-right: 5%;        
  }

/* .projects::-webkit-scrollbar {
    height: 8px;
}

.projects::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.projects::-webkit-scrollbar-track {
    background: #f1f1f1;
} */