<app-toolbar></app-toolbar>

<div class="content">
  <app-project-navigation-bar></app-project-navigation-bar>
  <div class="taskList">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Unique Name</th>
        <th>Assignee</th>
        <th>Status</th>
      </thead>
      <tbody >
        <tr *ngFor="let task of taskList">
          <td>{{ task.name }}</td>
          <td>
            <a [routerLink]="['/task', task.uniqueName]" >
              {{ task.uniqueName }}
            </a>
          </td>
          <td>{{task.user.name }}</td>
          <td>{{ task.taskStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>