<div class="modal">
  <div class="modal-content">
    <h2 class="modal-header">Create New Task</h2>
    <div class="modal-body">
      <input type="text" [(ngModel)]="name" placeholder="Name" class="modern-input">
      <input type="text" [(ngModel)]="description" placeholder="Description" class="modern-input">

      <div class="dropdown-group">
        <input [(ngModel)]="project" (input)="filterProjects()" placeholder="Project" class="modern-input">
        <ul *ngIf="filteredProjects.length > 0" class="modern-suggestions">
          <li *ngFor="let pro of filteredProjects" (click)="selectProject(pro)" class="modern-suggestion-item">
            {{ pro.name }}
          </li>
        </ul>
      </div>

      <div class="dropdown-group">
        <input [(ngModel)]="assigne" (input)="filterUsers()" placeholder="User" class="modern-input">
        <ul *ngIf="filteredUsers.length > 0" class="modern-suggestions">
          <li *ngFor="let user of filteredUsers" (click)="selectUser(user)" class="modern-suggestion-item">
            {{ user.name }}
          </li>
        </ul>
      </div>

      <input type="number" [(ngModel)]="numberOfHoursToComplete" placeholder="Time to complete" class="modern-input">
    </div>

    <div class="modal-actions">
      <button mat-button class="modern-button save-button" (click)="save()">Create</button>
      <button mat-button class="modern-button cancel-button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
