<div class="card modern-card">
  <div class="card-header modern-header">
    <select *ngIf="task()" [(ngModel)]="task().taskStatus" (change)="updateTask()" class="modern-select">
      <option *ngFor="let status of statuses()" [value]="status">{{ status }}</option>
    </select>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item modern-list-item">
      Assignee:
      <input *ngIf="task()?.user" [(ngModel)]="assigneeName" (input)="filterUsers()" placeholder="{{task().user.name}}" class="modern-input" />
      <ul *ngIf="filteredUsers.length > 0" class="suggestions modern-suggestions">
        <li *ngFor="let user of filteredUsers" (click)="selectUser(user)" class="modern-suggestion-item">
          {{ user.name }}
        </li>
      </ul>
    </li>
    <li class="list-group-item modern-list-item">
      Time spent:
      <p *ngIf="task()" class="modern-paragraph">{{task().numberOfHoursSpent}}</p>
    </li>
    <li class="list-group-item modern-list-item">
      Time left:
      <p *ngIf="task()" class="modern-paragraph">{{task().numberOfHoursRemaining}}</p>
    </li>
  </ul>
</div>
