<app-toolbar></app-toolbar>

<h2 class="taskName" *ngIf="!isEditingName" (click)="editTaskName()">
    {{task?.name}}
</h2>

<div *ngIf="isEditingName" class="edit-task-name">
    <input [(ngModel)]="editedTaskName" />
    <button (click)="saveTaskName()">✔️</button>
    <button (click)="cancelEditTaskName()">❌</button>
</div>

<div class="taskDetails">
    <textarea class="descriptionArea" [(ngModel)]="editedDescription" (input)="isEditingDescription = true">
    </textarea>
    <div *ngIf="isEditingDescription" class="description-buttons">
        <button (click)="saveTaskDescription()">Save</button>
        <button (click)="cancelTaskDescription()">Cancel</button>
    </div>

    <app-task-details [task]="task" [users]="userList" [statuses]="statusesList"></app-task-details>
</div>