<app-toolbar></app-toolbar>

@if(!isEditingName && task){
<h2 class="taskName" (click)="editTaskName()">
    {{task.name}}
</h2>
}

@if(isEditingName){
<div class="edit-task-name">
    <input [(ngModel)]="editedTaskName" />
    <button (click)="saveTaskName()">✔️</button>
    <button (click)="cancelEditTaskName()">❌</button>
</div>
}

<div class="taskDetails">
    <div class="taskContent">
        <div class="textArea">
            <textarea class="descriptionArea" [(ngModel)]="editedDescription" (input)="isEditingDescription = true">
    </textarea>
        </div>
        <div *ngIf="isEditingDescription" class="description-buttons">
            <button (click)="saveTaskDescription()">Save</button>
            <button (click)="cancelTaskDescription()">Cancel</button>
        </div>
        <app-log-time *ngIf="task" [task]="task"></app-log-time>
    </div>
    <app-task-details [task]="task" [users]="userList" [statuses]="statusesList"></app-task-details>
</div>