<div class="modal">
  <div class="modal-content">
    <h2 class="modal-header">{{ task().name }}</h2>
    <div class="modal-body">
      <input type="text" [(ngModel)]="description" placeholder="Description">
      <input type="number" [(ngModel)]="numberOfHours" placeholder="Hours">
      <input type="date" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event">
    </div>
    <div class="modal-actions">
      <button class="log-button" (click)="logTime()">Log Time</button>
      <button class="cancel-button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
