.projects {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    height: 50%;
    display: flex;
    gap: 10%;
    overflow-x: auto; 
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

/* .projects::-webkit-scrollbar {
    height: 8px;
}

.projects::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.projects::-webkit-scrollbar-track {
    background: #f1f1f1;
} */